apache-airflow==2.8.1
apache-airflow-providers-cncf-kubernetes==7.13.0
apache-airflow-providers-ftp==3.7.0
apache-airflow-providers-google==10.13.1
cryptography==41.0.7
graphviz==0.20.1
python-dotenv==1.0.1
swagger-ui-bundle==0.0.9
virtualenv==20.25.0